<div class="col-md-4 mx-auto">

    <div class="card">
        <div class="card-body">
            <form action="/peliculas/edit_nombre/{{id_usuario}}" method="POST">
                <div class="form-group">
                    <input type="text" name="nombre" class="form-control" placeholder="Nombre de Usuario" value="{{user.nombre}}" autofocus>
                </div>                
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Actualizar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>