<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1>Mis Películas Favoritas</h1>
            <h3>
                <em class="eslogan">Hoy parece un buen día para ver una película</em>
            </h3>

            <form action="/iniciar" method="get">
                <button class="btn-grande "  type="submit">Comenzar</button>
            </form>

           
        </div>
        <div class="overlay"></div>
    </header>
</main>