body {
  background: #f5f6fa;
}

/*Ventana iniciar*/

body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://p4.wallpaperbetter.com/wallpaper/872/906/514/light-movie-film-film-projector-wallpaper-preview.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
 
}
.login-wrapget{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://p4.wallpaperbetter.com/wallpaper/872/906/514/light-movie-film-film-projector-wallpaper-preview.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  display: none; 
}

.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-htmlGet{
	width:100%;
	height:100%;	
  position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 1.2em;
  font-style: italic;
}

/*fin ventana iniciar*/

.index {
  width: 100vw;
  height: 100vh;
}



.navbar {
  /*position:fixed;*/
  /*modo estatico ;*/
  background: rgb(1, 4, 39) !important;
}

.nav-link {
  color: #fff !important;
}

.masthead {
  color: white;
  min-height: 30rem;
  width: 100%;
  height: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: url('/img/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead h1 {
  font-size: 10rem;
  margin: 0;
  padding: 0;
  -webkit-text-stroke: 2px rgb(27, 35, 102);


}

.eslogan {
  font-size: 5rem;
}

.p {
  border: rgb(17, 148, 28) 3px solid;
  border-image-slice: 1;
  padding: 0px;
  text-align: justify;
}




section {
  width: 75%;
  float: left;
  padding: 10px;
  background-color: rgb(10, 17, 51);
  float: left;
  margin-left: 10%;
}

#estatico {
  position: fixed;
}

aside {
  float: right;
  width: 15%;
  float: right;
  padding: 5px;
  float: right;
  height: 100px;
}


.imagen {
  width: 70%;
  height: 70%;
  margin-bottom: auto;
}

.msg {
  width: 100%;

  float: left;
}

.saltoMsg {
  height: 10%;
  background: #50fd00;
}

.msgServidore {
  margin-left: 1%;
  min-width: 10%;
  max-width: 70%;

}

.colorus {
  background: #022253;
  color: #fff;
  min-width: 250px;
  border-radius: 68px 68px 0px 68px;
  -moz-border-radius: 68px 68px 0px 68px;
  -webkit-border-radius: 68px 68px 0px 68px;
  border: 0px solid #000000;

  position: absulute;
  margin-right: 10px;
  float: right;

}

.colorser {
  background: rgb(255, 174, 0);
  color: #000;
  border-radius: 68px 68px 68px 0px;
  -moz-border-radius: 68px 68px 68px 0px;
  -webkit-border-radius: 68px 68px 68px 0px;
  border: 0px solid #000000;
}

.txtms {

  font-size: 40px;


}

.datoser {
  text-align: end;
  margin-right: 50px;
}

.datosus {
  text-align: center;

}

.visto {
  width: 20px;
  height: 15px;

}


.imagen_genero {
  width: 100%;
  height: 100%;
  margin-bottom: auto;
}

.promocion {
  width: 150%;
  height: 150%;
  margin-bottom: auto;
  margin-top: 50px;
  margin-right: 50px;
}

.txtblack {
  color: #000;
  font-size: 40px;
  text-align: center;
}

.descripcion {
  font-size:xx-large;
  line-height: 1;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  
}
.videoXY{
  min-height: 600px;
  min-width: 350px;
  width:100%;
  height:100%;
}

.encanezado_msg {
  width: 800px;
  background: rgb(255, 255, 255);
}

.tam {
  width: 800px;
}

.ventana {
  background: rgb(1, 4, 39);
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 255px;
  border-radius: 22px;
  position: absolute;
  left: 5%;
  top: 10%;
  display: none;
  position: fixed;
}

.ventana_mesage {

  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  height: 1330px;
  border-radius: 22px;
  position: absolute;
  left: 5%;
  top: 1%;
  display: none;
  position: fixed;

}

.mesage_div {
  height: 1130px;

}



.getNambre_div {

  position: relative;
  left: 65px;
  top: 10px;
  height: 100px;


}

.imagen_iniciar {
  width: 80%;
  height: 80%;
  margin-bottom: auto;
}


.scrollInfMSG {
  max-height: 1300px;
  overflow: scroll;
}

.txtMsg {
  min-width: 700px;
  height: 100px;
  font-size: 30px;
}

.ventana_genero {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 255px;
  width: 400px;
  border-radius: 30px;
  position: absolute;
  left: 40%;
  top: 1%;
  display: none;
  position: fixed;
}


.ventana_nav {
  display: none;
}

.orden {
  width: 250px;
  height: 50px;
}

.ventanaBuscar {
  border-width: 3px;
  border-style: solid;
  border-color: #054911;
  background: rgb(1, 4, 39);
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 20px;
  min-width: 700px;
  border-radius: 22px;
  position: absolute;
  left: 7%;
  top: 2%;
  display: none;
  position: fixed;
  
}

.ventana_alert {
  background: rgb(2, 5, 41);
  color: rgb(7, 4, 51);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 20px;
  min-width: 600px;
  max-width: 600px;
  border-radius: 22px;
  position: absolute;
  left: 15%;
  top: 10%;
  display: none;
  position: fixed;
  border: darkorange;
  border-spacing: 30;
}

.txtwhite {
  color: rgb(255, 255, 255);
  font-size: 36px;
  text-align: center;
}

.btn_alert {
  width: 20%;
  height: 20%;
  margin-bottom: auto;
}



.imagen_menu {
  width: 40%;
  height: 40%;
  margin-bottom: auto;
}

.casillaGetnombre {
  width: 500px;
  height: 100px;
  font-size: 30px;
}

.casillaGetnombre {
  width: 400px;
  height: 80px;
  font-size: 30px;

}

.casillaBuscar {
  width: 500px;
  height: 100px;
  font-size: 40px;
}

.btnBuscar {
  width: 200px;
  height: 100px;
  font-size: 30px;
}

.btn-grande {
  background-color: #052350;
  /* Green */
 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100px;
  border-radius: 20px;
  width: 500px;
  height: 150px;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.btn-grande:hover {
  background-color: #031127; 
  color: white;
}

#cerrar {
  position: absulute;
  right: 30px;
  float: right;
}

#titulo {
  text-align: center;
  color: #f5f6fa;
}

.btnCerrar {
  width: 50px;
  height: 50px;
}

.btnSend {
  width: 100px;
  height: 100px;
}

.scrollInf {
  max-height: 1200px;
  overflow: scroll;
}

.centrado {
  position: absolute;
  top: 75%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: rgb(250, 8, 8);
  font-weight: bold;
  font-size: 30pt;
}

.centrado_genero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 32pt;
}

.contenedor {
  position: relative;
}

.anio {
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 15pt;
  background: rgb(8, 2, 46);
  border: rgb(255, 187, 0) 3px solid;
}

.pts {
  position: absolute;
  top: 10%;
  left: 83%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 10pt;
  background: rgb(8, 2, 46);
  border: rgb(255, 187, 0) 3px solid;
  max-width: 40px;
  width: 40px;
  border-radius: 104px 104px 104px 104px;
  -moz-border-radius: 104px 104px 104px 104px;
  -webkit-border-radius: 104px 104px 104px 104px;
  text-align: center;
}

.contenedor_genero {
  position: relative;
}

#WindowLoad {
  position: fixed;
  
  top: 0px;
  left: 0px;
  z-index: 4200;
  filter: alpha(opacity=65);
  -moz-opacity: 65;
  opacity: 0.65;
  background: rgb(0, 0, 0);
}

.imper:focus,
.imper:link {
  color: white;
  font-size: 20pt;
  font-family: arial;
  text-decoration: none;
}

.imper:hover {
  color: white;
  font-size: 20pt;
  font-family: arial;
  text-decoration: none;
}

.imper:visited {
  color: white;
  font-size: 20pt;
  font-family: arial;
  text-decoration: none;
}

.centro {
  text-align: center;
}


@media (max-height: 1350px) {
  .ventana_mesage {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    height: 830px;
    border-radius: 22px;
    position: absolute;
    left: 5%;
    top: 1%;
    display: none;
    position: fixed;
  }

  .mesage_div {
    height: 630px;

  }
}




@media (max-height: 800px) {
  .ventana_mesage {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    height: 730px;
    border-radius: 22px;
    position: absolute;
    left: 5%;
    top: 1%;
    display: none;
    position: fixed;
  }

  .mesage_div {
    height: 530px;

  }



}