
@media (min-width: 992px) {
  .ventana_nav {
    display: block;
  }
  .menu {
    display: none;
  }
  .ocultar {
    display: none;
  }
  .masthead {
    height: 100vh;
  }
  .masthead h1 {
    font-size: 5.5rem;
  }
  .txtblack {
    color: #000;
    font-size: 20px;
    text-align: center;
  }
  .imper:focus, .imper:link {
    color: white;
    font-size: 13pt;
    font-family: arial;
    text-decoration: none;
  }
  .imper:hover {
    color: white;
    font-size: 13pt;
    font-family: arial;
    text-decoration: none;
  }
  .imper:visited {
    color: white;
    font-size: 13pt;
    font-family: arial;
    text-decoration: none;
  }
  .descripcion {
    font-size: 15px;
    text-align: justify;
  }
  
  aside {  
  float: right;
  width: 15%;
  float: right;
  padding: 5px;
  float: right;
  height: 100px;  
  }
  
  .btnCerrar {
    width: 25px;
    height: 25px;
  }
  .scrollInf {
    height: 550px;
    overflow: scroll;
  }
  .ventanaBuscar {
    background: rgb(1, 4, 39);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 20px;
    min-width: 400px;
    border-radius: 22px;
    position: absolute;
    left: 30%;
    top: 10%;
    display: none;
    position: fixed;
  }
  .ventana_alert {
    background: rgb(2, 5, 41);
    color: rgb(7, 4, 51);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 20px;
    min-width: 400px;
    max-width: 400px;
    border-radius: 22px;
    position: absolute;
    left: 30%;
    top: 10%;
    display: none;
    position: fixed;
    border: darkorange;
    border-spacing: 30;
  }
  .txtwhite {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
  }
  .casillaBuscar {
    width: 200px;
    height: 30px;
    font-size: 15px;
  }
  .btnBuscar {
    width: 90px;
    height: 30px;
    font-size: 15px;
  }
  .imagen {
    width: 50%;
    height: 50;
    margin-bottom: auto;
  }
  .btn_alert {
    width: 17%;
    height: 17%;
    margin-bottom: auto;
  }
  .imper {
    color: white;
    font-size: 13pt;
    font-family: arial;
    text-decoration: none;
    text-align: end;
  }
  .imper:hover {
    color: white;
    font-size: 13pt;
    font-family: arial;
    text-decoration: none;
  }
  .imper:visited {
    color: white;
    font-size: 13pt;
    font-family: arial;
    text-decoration: none;
  }
  .centro {
    text-align: center;
  }
  .centrado {
    position: absolute;
    top: 75%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: rgb(250, 8, 8);
    font-weight: bold;
    font-size: 30pt;
  }
  .anio {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15pt;
    background: rgb(8, 2, 46);
    border: rgb(255, 187, 0) 3px solid;
    border-radius: 104px 104px 104px 104px;
    -moz-border-radius: 104px 104px 104px 104px;
    -webkit-border-radius: 104px 104px 104px 104px;
  }
  .pts {
    position: absolute;
    top: 10%;
    left: 83%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 10pt;
    background: rgb(8, 2, 46);
    border: rgb(255, 187, 0) 3px solid;
    max-width: 40px;
    width: 40px;
    border-radius: 104px 104px 104px 104px;
    -moz-border-radius: 104px 104px 104px 104px;
    -webkit-border-radius: 104px 104px 104px 104px;
    text-align: center;
  }
  .contenedor {
    position: relative;
  }
}