<div class="ventana_alert" id="alertSiNo">

    <div>
        <div class="">

            <h4 class="txtwhite" id="mensage">¿Desea eliminar todas las pelicula seleccionados?</h4>
        </div>
        <div class="card-body">
            <div class="text-center ">
                <a href="javascript:BorrarTodo()">
                    <img src="img/si.png" class="rounded btn_alert" alt="...">
                </a>
                <a href="javascript:ocultarSiNo()">
                    <img src="img/no.png" class="rounded btn_alert" alt="...">
                </a>
            </div>
           
        </div>

    </div>
</div>