<div class="ventana_getNombre " id="ventana_getNombre">

    <div class=" encanezado_getNombre ">
        <div class="card-header">

            <div id="cerrar">

                <a href="javascript:ocultar_getNombre()"> <img class="btnCerrar" src="img/cerrar.png" alt=""></a>

            </div>
            <h4 class="txtblack" id="nombre">Pon un nombre para indentificarse</h4>
        </div>
        <div class="getNambre_div">
            <input class=" mr-sm-2 casillaGetnombre" name="buscar" id="txtVisitante" type="text" placeholder="Usuario"
                aria-label="Search">

        </div>

       
        <div class="text-center contenedor_genero">
            <a href="javascript:iniciarInvitado()">
                <img src="img/buton.png" class="rounded imagen_iniciar" alt="...">
                <div class="centrado_genero">Iniciar</div>
            </a>
        </div>

    </div>


</div>