<div class=" estatico">
  <div class="text-center ">
    <a href="javascript:javascript:abrir_menu()">
      <img src="img/usuario.png" class="rounded imagen" alt="...">
    </a>
  </div>
  <div class="text-center ">
    <a href="javascript:javascript:abrir_genero()">
      <img src="img/genero.png" class="rounded imagen" alt="...">
    </a>
  </div>
  <div class="text-center ">
    <a href="javascript:abrir_buscar()">
      <img src="img/buscar.png" class="rounded imagen" alt="...">
    </a>
  </div>
  <div class="text-center contenedor">
    <a href="javascript:showPedidos()">
      <img src="img/carrito.png" class="rounded imagen" alt="...">
      <div id="cantidad" class="centrado"></div>
    </a>
  </div>
  <div class="text-center ">
    <a href="javascript:showSiNo()">
      <img src="img/borrar.png" class="rounded imagen" alt="...">
    </a>
  </div>

  <div class="text-center contenedor">
    <a href="javascript:abir_mesage()">
      <img src="img/mesage.png" class="rounded imagen" alt="...">
      <div id="mesage" class="centrado"></div>
    </a>
  </div>

  <div class="text-center contenedor">
    <a href="peliculas?proximo=yes">
      <img src="img/proximos.png" class="rounded imagen" alt="...">
      <div id="mesage" class="centrado"></div>
    </a>
  </div>

    
  

</div>