<div class=" ventana_mesage  " id="ventana_mesage">

    <div class=" encanezado_msg ">
        <div class="card-header">

            <div id="cerrar">

                <a href="javascript:cerrar_mesage()"> <img class="btnCerrar" src="img/cerrar.png" alt=""></a>

            </div>
            <h4 class="txtblack" id="nombre">Enviar mensage al Servidor</h4>
        </div>
        <div class=" scrollInfMSG mesage_div">
            <div class="msg">
                <div class="dropdown-divider"></div>
                <div class="msgServidore colorser">
                    <div class="card-body txtms">
                        holla
                    </div>
                    <div class="datoser">
                        12/02/2020 5:00pm
                    </div>
                </div>
            </div>

            <div class="msg">
                <div class="dropdown-divider"></div>
                <div class="msgServidore colorus">
                    <div class="card-body txtms">
                        hhhhhhhhhh hhhh hhhhhhh hhhhhhhh hhhhhhhh hhhhhhh hhhhhhhhhhh hhh hhhhhh hhhhhh hhhhhhh hhhhhh hhhh
                    
                    </div>
                    <div class="datosus">
                        12/02/2020 5:00pm
                        <img src="img/vistotrue.png" class="visto" alt="...">
                         <img src="img/vistofalse.png" class="visto" alt="...">
                    </div>
                </div>
            </div>






        </div>
    </div>

    <div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 txtMsg" type="search" placeholder="Ecribe tu Mensaje" aria-label="Search">
            <a href="javascript:cerrar_mesage()"> <img class="btnSend" src="img/send.png" alt=""></a>
        </form>
    </div>
</div>