<div id="ventana_inicio" class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Iniciar
      sesion</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Nuevo</label>
    <div class="login-form">
      <form id="iniciar" action="javascript:iniciar()" method="POST">
        <div class="sign-in-htm">
          <div class="group">
            <label class="label">Nombre de usuario</label>
            <input name="usuario" type="text" class="input">
          </div>
          <div class="group">
            <label class="label">Contraseña</label>
            <input name="contrasena" type="password" class="input">
          </div>
          <div class="group">
            <input id="check" type="checkbox" class="check" checked>
            <label><span class="icon"></span>Recordar sesion</label>
          </div>
          <div class="group">
            <input type="submit" class="button" value="Iniciar">
          </div>
          <label class="iconos">Iniciar con: </label>
          <div class="iconos">
            <!-- Facebook -->
            <a class="btn btn-primary" style="background-color: #3b5998;" href="auth/facebook" role="button"><i
                class="fab fa-facebook-f"></i></a>

            <!-- Google -->
            <a class="btn btn-primary" style="background-color: #dd4b39;" href="auth/google" role="button"><i
                class="fab fa-google"></i></a>

            <!-- Twitter -->
            <a class="ocultar btn btn-primary" style="background-color: #55acee;" href="auth/twitter" role="button"><i
                class="fab fa-twitter"></i></a>

            <!-- Instagram -->
            <a class="ocultar btn btn-primary" style="background-color: #ac2bac;" href="auth/instagram" role="button"><i
                class="fab fa-instagram"></i></a>
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <a href="javascript:mostrar_getNombre()">Iniciar como ivitado</a>
          </div>
          <br>
          <div class="foot-lnk">
            <a href="#forgot">Olvide mi contraseña</a>
          </div>

        </div>
      </form>



      <form action="/registrar" method="POST">
        <div class="sign-up-htm">
          <div class="group">
            <input type="text" name="nombre" placeholder="Nombre" class="input" autofocus>
          </div>
          <div class="group">
            <input type="text" name="telefono" placeholder="Teléfono" class="input" autofocus>
          </div>
          <div class="group">
            <input type="text" name="usuario" placeholder="Usuario" class="input" autofocus>
          </div>
          <div class="group">
            <input type="password" name="contrasena" placeholder="Contraseña" class="input" data-type="password">
          </div>
          <div class="group">
            <input type="password" placeholder="Repetir contraseña" class="input" data-type="password">
          </div>
          <div class="group">
            <input type="submit" class="button" value="Registrar">
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <label for="tab-1">Ya Soy Cliente</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



{{>getNombre}}